
@{
    ViewBag.Title = "error";
    Layout = "~/Views/Shared/error.cshtml";
}
<section class="error">
    <div class="errortext">
        <h5>404 Not Found</h5>
        <p>Big brothers are watching you!</p>
    </div>
</section>

