
@{
    ViewBag.Title = "about";
    Layout = "~/Views/Shared/Site.cshtml";
}

<section class="about">
    <div data-aos="fade-down-left" class="abttxt text-center">
        <h4>About</h4>
    </div>
    <div class="container">
        <div class="row mt-5">
            <div data-aos="flip-right" class="col-md-5">
                <img class="aboutimg" src="~/Content/img/zahir.jpeg">
            </div>
            <div class="abttxtmn col-md-7">
                <div data-aos="fade-up" class="aboutwrt">
                    <h1 class="abth1">
                        Hi,I am a
                        <span class="txt-type abtspan" data-wait="3000" data-words='["Full Stack Developer","FrontEnd Dveleoper","BackEnd Developer"]'></span>
                    </h1>
                </div>
                <div class="abtlr mt-5" data-aos="fade-up-left">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi adipisci ad obcaecati deserunt blanditiis rerum ullam! Temporibus aliquid, quod omnis, impedit corporis ipsa quasi odio obcaecati ipsum velit facere modi?</p>
                </div>
                <div class="row abtback" data-aos="zoom-in">
                    <div class="col-md-6 zhr">
                        <div class="zhrtxt">
                            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                            <h6>Baku State University</h6>
                        </div>
                    </div>
                    <div class="col-md-6 zhr">
                        <div class="zhrtxt">
                            <i class="fa fa-briefcase" aria-hidden="true"></i>
                            <h6>Computer Science</h6>
                        </div>
                    </div>
                    <div class="col-md-6 zhr">
                        <div class="zhrtxt">
                            <i class="fa fa-envelope"></i>
                            <h6><a href="mailto:zairli.zahir1@gmail.com">zairlizahir@gmail</a></h6>
                        </div>
                    </div>
                    <div class="col-md-6 zhr">
                        <div class="zhrtxt">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <h6>Azerbaijan,Baku</h6>
                        </div>
                    </div>
                    <div class="col-md-6 zhr">
                        <div class="zhrtxt">
                            <i class="fa fa-phone"></i>
                            <h6><a href="tel:+994513551006">+944513551006</a></h6>
                        </div>
                    </div>
                    <div class="col-md-6 zhr">
                        <div class="zhrtxt">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            <h6>28/08/2000</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

