
@{
    ViewBag.Title = "blogs";
    Layout = "~/Views/Shared/Site.cshtml";
}

<section id="blogs">
    <div data-aos="zoom-in-up" class="blmain text-center">
        <h4>Blogs</h4>
    </div>
    <div class="container">
        <div data-aos="flip-up" class="blog1">
            <div class="row">
                <div class="col-md-4">
                    <img class="blgph" src="https://itproger.com/img/courses/1476977240.jpg">
                </div>
                <div class="col-md-8 blcontent">
                    <H3>HTML 5</H3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi ut praesentium amet ex natus! Quaerat, ipsum laudantium! Totam sunt veritatis facilis odit atque voluptas temporibus pariatur, suscipit numquam. Laborum, unde.</p>
                    <div class="zaneo2">
                        <a href="blogdetal" class="neo" id="Neon">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <button class="btd" type="submit">Details&nbsp;&nbsp;<i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
                        </a>
                    </div>
                    <div class="poet">
                        <h6>Zahir Zairli</h6>
                        <p>13/04/2021</p>
                    </div>
                </div>
            </div>
        </div>
        <div data-aos="flip-up" class="blog1">
            <div class="row">
                <div class="col-md-4">
                    <img class="blgph" src="https://itproger.com/img/courses/1476977488.jpg">
                </div>
                <div class="col-md-8 blcontent">
                    <H3>HTML 5</H3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi ut praesentium amet ex natus! Quaerat, ipsum laudantium! Totam sunt veritatis facilis odit atque voluptas temporibus pariatur, suscipit numquam. Laborum, unde.</p>
                    <div class="zaneo2">
                        <a href="blogdetal" class="neo" id="Neon">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <button class="btd" type="submit">Details&nbsp;&nbsp;<i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
                        </a>
                    </div>
                    <div class="poet">
                        <h6>Zahir Zairli</h6>
                        <p>13/04/2021</p>
                    </div>
                </div>
            </div>
        </div>
        <div data-aos="flip-up" class="blog1">
            <div class="row">
                <div class="col-md-4">
                    <img class="blgph" src="https://itproger.com/img/courses/1476977240.jpg">
                </div>
                <div class="col-md-8 blcontent">
                    <H3>HTML 5</H3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi ut praesentium amet ex natus! Quaerat, ipsum laudantium! Totam sunt veritatis facilis odit atque voluptas temporibus pariatur, suscipit numquam. Laborum, unde.</p>
                    <div class="zaneo2">
                        <a href="blogdetal" class="neo" id="Neon">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <button class="btd" type="submit">Details&nbsp;&nbsp;<i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
                        </a>
                    </div>
                    <div class="poet">
                        <h6>Zahir Zairli</h6>
                        <p>13/04/2021</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

