
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Site.cshtml";
}

<section class="first">
    <div class="typez container">
        <div data-aos="flip-left"
             data-aos-easing="ease-out-cubic"
             data-aos-duration="2000" class="row general">
            <div class="white col-sm-6">
                <div></div>
            </div>
            <div class="sekil col-sm-6">
                <div class="zahir">Salam</div>
            </div>
        </div>
        <div data-aos="fade-up"
             data-aos-anchor-placement="bottom-bottom" class="text">
            <h1 class="name">
                Zahir Zairli
                <span class="txt-type" data-wait="3000" data-words='["Learn","Teach","Share"]'></span>
            </h1>
            <h2 class="site">Welcome to our web site!</h2>
            <div class="card1">
                <ul class="sci">
                    <li style="--i:1">
                        <a href="https://www.facebook.com/profile.php?id=100006595188135"><i class="za fa fa-facebook-official" aria-hidden="true"></i></a>
                    </li>
                    <li style="--i:2">
                        <a href="https://www.instagram.com/zairlizahir/?igshid=iru4c41y96o"><i class="za fa fa-instagram" aria-hidden="true"></i></a>
                    </li>
                    <li style="--i:3">
                        <a href="https://twitter.com/ZairliZahir"><i class="za fa fa-twitter" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

