
@{
    ViewBag.Title = "workdetal";
    Layout = "~/Views/Shared/Site.cshtml";
}

<section id="wrkdt">
    <div data-aos="fade-right" class="workname">
        <h3>Salam</h3>
    </div>
    <div class="container" style="margin-top: 80px;">
        <div class="row">
            <div data-aos="flip-left" class="col-md-5 p-2">
                <img class="workphoto" src="~/Content/img/zahir.jpeg">
            </div>
            <div data-aos="flip-right" class="col-md-7 p-2">
                <div data-aos="fade-down" class="main">
                    <h4 class="mainabout">About</h4>
                </div>
                <div class="wrkcot mt-3">
                    <div class="date">
                        <h4>Date : <i class="dateicon1 fa fa-angle-double-down" aria-hidden="true"></i></h4>
                        <p class="detalpar1">28/08/2000.</p>
                    </div>
                    <div class="date">
                        <h4>Company : <i class="dateicon2 fa fa-angle-double-down" aria-hidden="true"></i></h4>
                        <p class="detalpar2">Milli Soft.</p>
                    </div>
                    <div class="date">
                        <h4>Purpose : <i class="dateicon3 fa fa-angle-double-down" aria-hidden="true"></i></h4>
                        <p class="detalpar3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, rerum suscipit consequuntur et reiciendis minima praesentium nostrum repudiandae voluptate qui sit velit, aperiam eaque voluptatibus laborum fuga? Animi, incidunt provident!</p>
                    </div>
                    <div class="date">
                        <h4>Site Link : <i class="dateicon4 fa fa-angle-double-down" aria-hidden="true"></i></h4>
                        <p class="detalpar4"><a style="text-decoration: none !important;" href="https://www.youtube.com/">www.youtube.com</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

