
@{
    ViewBag.Title = "works";
    Layout = "~/Views/Shared/Site.cshtml";
}

<section class="workfilter">
    <div data-aos="fade-right" class="textwork text-center">
        <h3>Our works!</h3>
    </div><br>
    <ul data-aos="fade-down">
        <li class="list active" data-filter="all">All</li>
        <li class="list" data-filter="personal">Personal</li>
        <li class="list" data-filter="ecommerce">Ecommerce</li>
        <li class="list" data-filter="wordpress">Wordpress</li>
        <li class="list" data-filter="back">BackEnd</li>
    </ul>
    <div data-aos="flip-left" class="product container text-center">
        <div class="itembox personal">
            <div class="contentwork">
                <img class="workimg" src="~/Content/img/zahir.jpeg">
                <p>Salam</p>
                <a href="workdetal"><i class="srh fa fa-search-plus" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="itembox personal">
            <div class="contentwork">
                <img class="workimg" src="~/Content/img/zahir.jpeg">
                <p>Salam</p>
                <a href="workdetal"><i class="srh fa fa-search-plus" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="itembox ecommerce">
            <div class="contentwork">
                <img class="workimg" src="~/Content/img/zahir.jpeg">
                <p>Salam</p>
                <a href="workdetal"><i class="srh fa fa-search-plus" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="itembox ecommerce">
            <div class="contentwork">
                <img class="workimg" src="~/Content/img/zahir.jpeg">
                <p>Salam</p>
                <a href="workdetal"><i class="srh fa fa-search-plus" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="itembox ecommerce">
            <div class="contentwork">
                <img class="workimg" src="~/Content/img/zahir.jpeg">
                <p>Salam</p>
                <a href="workdetal"><i class="srh fa fa-search-plus" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="itembox wordpress">
            <div class="contentwork">
                <img class="workimg" src="~/Content/img/zahir.jpeg">
                <p>Salam</p>
                <a href="workdetal"><i class="srh fa fa-search-plus" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="itembox wordpress">
            <div class="contentwork">
                <img class="workimg" src="~/Content/img/zahir.jpeg">
                <p>Salam</p>
                <a href="workdetal"><i class="srh fa fa-search-plus" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="itembox wordpress">
            <div class="contentwork">
                <img class="workimg" src="~/Content/img/zahir.jpeg">
                <p>Salam</p>
                <a href="workdetal"><i class="srh fa fa-search-plus" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="itembox wordpress">
            <div class="contentwork">
                <img class="workimg" src="~/Content/img/zahir.jpeg">
                <p>Salam</p>
                <a href="workdetal"><i class="srh fa fa-search-plus" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="itembox back">
            <div class="contentwork">
                <img class="workimg" src="~/Content/img/zahir.jpeg">
                <p>Salam</p>
                <a href="workdetal"><i class="srh fa fa-search-plus" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="itembox back">
            <div class="contentwork">
                <img class="workimg" src="~/Content/img/zahir.jpeg">
                <p>Salam</p>
                <a href="workdetal"><i class="srh fa fa-search-plus" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</section>
<section>
    <div style="width: 70%;margin: auto;margin-top: 40px;" class="text text-center">
        <h1 class="name">
            Our Works:
            <span class="txt-type" data-wait="3000" data-words='["Personal","Ecommerce","Wordpress","BackEnd"]'></span>
        </h1>
        <h2 class="site">Welcome to our web site!</h2>
        <div class="card1">
            <ul class="sci">
                <li style="--i:1">
                    <a href="https://www.facebook.com/profile.php?id=100006595188135"><i class="za fa fa-facebook-official" aria-hidden="true"></i></a>
                </li>
                <li style="--i:2">
                    <a href="https://www.instagram.com/zairlizahir/?igshid=iru4c41y96o"><i class="za fa fa-instagram" aria-hidden="true"></i></a>
                </li>
                <li style="--i:3">
                    <a href="https://twitter.com/ZairliZahir"><i class="za fa fa-twitter" aria-hidden="true"></i></a>
                </li>
            </ul>
        </div>
    </div>
</section>

